<h1>Search Users</h1>
{{#if error }} <span>{{ error }}</span> {{/if}}

<form class="form-inline" method="post" action="/user/search">
    {{!-- <div class="form-group"> --}}
        <input type="text" name="id"   class="form-control" placeholder="Search Users by ID" />
        <input type="submit" class="btn btn-primary" value="search" />
        {{!--
    </div> --}}
</form>