<h1>Search Users</h1>

<form action="/user/search" class="form-inline" method="POST">
    <div class="form-group">
        <input type="text" name="id" class="form-control" placeholder="Search Users by ID" />
        <input type="submit" class="btn btn-primary" value="search"/>
    </div>
</form>